*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Flex', sans-serif;
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content:left;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  gap: 60px;
  font-size: 30px;
  background-image: url(/assets/img/back.jpg);
  background-position: bottom;
  background-size: cover;
}

.link:hover {
font-size: 45px;
transition-duration: 200ms;
}

a {
  color: rgba(69, 67, 194, 0.575);
}
.contenedorlink {
width: 1100px;
display: flex;
justify-content: space-evenly;
margin-top: 550px;
margin-left: 150px;
}

.cajahover:hover {
   
  opacity: 0.2;
}

